# Vim temporary files
*~
*.swp
*.swo
*.swn
*.swm
*.un~
.*.swp
.*.swo
.*.un~
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Markdown files (except README.md)
*.md
!README.md

